<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Strawberry Cupcake{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        {% block script %}
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>  
        {% endblock %}      
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Strawberry Cupcake</a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        {% block body %}
            No content
        {% endblock %}
    </body>
</html>
