<div class="row" ng-controller="UsersController" ng-init="getAll()" style="margin-right: 0px;">
    <div class="col-md-2 col-lg-2">
        <strong>Filters</strong>

    </div>
    <div class="col-md-10 col-lg-10">
        <div class="row">
            0/0 Users connected
        </div>
        <div class="row">
            <table class="table table-hover table-stripped" ng-controller="TableController">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="all" />
                        </th>
                        <th class="noselect pointer" ng-click="orderByField='fullname'; reverseSort = !reverseSort">
                            Name
                        </th>
                        <th class="noselect pointer" ng-click="orderByField='locale'; reverseSort = !reverseSort">
                            Localisation
                        </th>
                        <th class="noselect pointer" ng-click="orderByField='last_seen'; reverseSort = !reverseSort">
                            Last seen
                        </th>
                        <th class="noselect pointer" ng-click="orderByField='session'; reverseSort = !reverseSort">
                            Session
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, user) in users|orderBy:orderByField:reverseSort">
                        <td>
                            <input type="checkbox" name="check-{{ user.name }}" />
                        </td>
                        <td>
                            {{ user.fullname }}
                        </td>
                        <td>
                            {{ user.locale }}
                        </td>
                        <td>
                            {{ user.last_seen }}
                        </td>
                        <td>
                            {{ user.session }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
