<div class="row" ng-controller="UsersController" ng-init="getAll()" style="margin-right: 0px;">
	<div class="col-md-2 col-lg-2">
		<div style="margin-left: 5px;">
			<strong>Filters</strong>

			<h6>Track expression</h6>
			<div class="form-search search-only">
				<i class="search-icon fa fa-search"></i>
				<input type="text" class="form-control search-query" ng-model="trackedExpression" placeHolder="Search">
			</div>
		</div>
	</div>
	<div class="col-md-10 col-lg-10">
		<div class="row">
			{{ filteredUsers.length }}/{{ users.length }} Users
		</div>
		<div class="row">
			<table class="table table-hover table-stripped" ng-controller="TableController">
				<thead>
					<tr>
						<th>
							<input type="checkbox"  icheck ng-model="selectAll.isSelected" />
						</th>
						<th class="noselect pointer" ng-click="orderByField='fullname'; reverseSort = !reverseSort">
							Name
						</th>
						<th class="noselect pointer" ng-click="orderByField='country'; reverseSort = !reverseSort">
							Country
						</th>
						<th class="noselect pointer" ng-click="orderByField='city'; reverseSort = !reverseSort">
							City
						</th>
						<th class="noselect pointer" ng-click="orderByField='last_seen'; reverseSort = !reverseSort">
							Last seen
						</th>
						<th class="noselect pointer" ng-click="orderByField='session'; reverseSort = !reverseSort">
							Session
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, user) in filteredUsers|filter:trackedExpression|orderBy:orderByField:reverseSort">
						<td>
							<input icheck ng-model="user.isSelected" type="checkbox" />
						</td>
						<td>
							<a ui-sref="getUser({username: user.username})">
								{{ user.fullname }}
							</a>
							<a ui-sref="getConversation({username: user.username})" class="pull-right btn-link">
								<i class="fa fa-comment fa-fw"></i>
							</a>
						</td>
						<td>
							{{ user.country }}
						</td>
						<td>
							{{ user.city }}
						</td>
						<td>
							{{ user.last_seen }}
						</td>
						<td>
							{{ user.session }}
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row"></div>
			<center ng-if="events.length > numPerPage">
				<pagination
					ng-change="pageChanged()"
					max-size="20"
					boundary-links="true"
					total-items="users.length"
					items-per-page="numPerPage"
					ng-model="currentPage"
					previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
				></pagination>
			</center>
		</div>
	</div>
</div>
