<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Strawberry Cupcake{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/bootflat/css/custom-bootflat.min.css">
        <link rel="stylesheet" href="/assets/bootflat/skin/square/green.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        {% block script %}
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default" style="border-radius: 0; margin-bottom: 0;">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Strawberry Cupcake</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a href="/dashboard/">
                                Go to your dashboard <i class="fa fa-angle-right fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        {% block body %}
            No content
        {% endblock %}
    </body>
</html>
